BODY  { 
background-image: url(../images/bgtram.gif);
font-family: Tahoma, Verdana, sans-serif; 
font-size: 10px; 
font-weight: normal; 
color: #333344; 
text-decoration: none;
MARGIN-TOP: 0; 
MARGIN-LEFT: 0; 
MARGIN-RIGHT: 0; 
MARGIN-BOTTOM: 0;
}

FORM  {
color: #333344; 
font-size: 11.5px;
}

TD {
FONT-FAMILY: Tahoma, Verdana, sans-serif;
FONT-SIZE: 10px;
}
TEXTAREA {
FONT-FAMILY:  Tahoma, Verdana, sans-serif; 
FONT-SIZE: 10px;
color: #111122;
background-color : transparent;
font-weight : bold;
border-color : #EEEEFF;
border-style: solid; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px; 
text-indent : 2px;
}
INPUT {
font-weight:bold;
font-size:100%;
color: #111133;
border-color: #EEEEFF;
margin-top:1pt;
margin-left: .5em;
font-family : Tahoma, Verdana, sans-serif; 
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;
text-indent : 2px;  
background-color : transparent; 
}
INPUT.pn-button1 {
font-weight:bold;
font-size:100%;
color: #E0E0FF;
border-color: #ADBFDB;
margin-top:1pt;
margin-left: .5em;
font-family : Tahoma, Verdana, sans-serif; 
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;
text-indent : 2px;  
background-color : #7777AA; 
}
INPUT.pn-text {
background-color :#CCCCFF;
color: #333344;
font-family : Tahoma, Verdana, sans-serif; 
font-size : 10px; 
font-weight : bold;
border-color : #EEEEFF;  
border-top-width : 1px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;
text-indent : 2px;  
}
INPUT.pn-button {
background-color :#EEEEFF;
color: #333344;
font-family : Tahoma, Verdana, sans-serif; 
font-size : 10px; 
font-weight : normal;
border-color : #222244;  
border-top-width : 1.5px; 
border-right-width : 1px; 
border-bottom-width : 1px; 
border-left-width : 1px;
text-indent : 2px;  
}
SELECT {
FONT-FAMILY: Tahoma, Verdana, sans-serif;
FONT-SIZE: 10px;
color: #333344;
font-weight : bold;
background-color : #ADAFDB; 
}
SELECT.pn-text {
color: #333344;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
FONT-SIZE: 10px;
font-weight : bold;
background-color : #EEEEFF; 
}
A:link {
color: #333344;
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline;
background-color : transparent; 
}
A:visited {
color: #333344;
FONT-SIZE: 10px;
FONT-FAMILY:  Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline;
background-color : transparent; 
}
A:hover {
color: #222233;
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline overline;
background-color : #EEEEFF; 
}
A:active {
color: #7777AA;
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: none;
background-color : #F9F9FF;  
}
.pn-normal {  
font-family: Tahoma, Verdana, sans-serif; 
font-size: 9.7px; 
font-weight: bold; 
color: #333344;
text-decoration: none;
background-color : transparent;
}
.pn-normal A:link {
font-weight: bold; 
color: #111133;
FONT-SIZE: 10.4px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline;
background-color : transparent; 
}
.pn-normal A:visited {
font-weight: bold; 
color: #111133;
FONT-SIZE: 10.4px;
FONT-FAMILY:  Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline;
background-color : transparent; 
}
.pn-normal A:hover {
font-weight: bold; 
color: #111133;
FONT-SIZE: 10.4px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline overline;
background-color :#EABF74; 
}
.pn-normal A:active {
font-weight: bold; 
color: #7777AA;
FONT-SIZE: 10.4px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: none;
background-color : transparent; 
}
.pn-title {  
font-family: Tahoma, Verdana, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #201133;
text-decoration: none;
background-color : transparent; 
}
.pn-title A:link { 
color: #201133;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
TEXT-DECORATION: underline;
background-color : transparent; 
}
.pn-title A:visited { 
color: #201133;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: underline;
background-color : transparent; 
}
.pn-title A:hover { 
color: #EEEEFF;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
TEXT-DECORATION: underline overline;
background-color : transparent; 
}
.pn-title A:active { 
color: #EEEEFF;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: none;
background-color : transparent; 
}
.pn-sub {  
font-family: Tahoma, Verdana, sans-serif; 
font-size: 9px; 
font-weight: normal; 
color: #222244; 
text-decoration: none;
background-color : transparent; 
}
.pn-sub A:link { 
color: #222244;
FONT-SIZE: 9px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
font-style : bold;  
TEXT-DECORATION: underline;
background-color : transparent; 
}
.pn-sub A:visited { 
color: #222244;
FONT-SIZE: 9px;
FONT-FAMILY:  Tahoma, Verdana, sans-serif; 
TEXT-DECORATION: underline;
font-style : bold;
background-color : transparent; 
}
.pn-sub A:hover {
color: #222244;
FONT-SIZE: 9px;
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
TEXT-DECORATION: underline overline;
font-style : bold;
background-color : #E0E0FF; 
}
.pn-sub A:active { 
color: #EEEEFF;
FONT-SIZE: 9px;
FONT-FAMILY: Tahoma, Verdana, sans-serif;
TEXT-DECORATION: none;
font-style : bold; 
background-color : transparent; 
}
.pn-logo { 
color: #333344; 
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif;
LETTER-SPACING: 3px; 
TEXT-DECORATION: none;
background-color : transparent; 
}
A.pn-logo:link { 
color: #333344;
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
background-color : transparent; 
}
A.pn-logo:visited { 
color: #333344;
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
background-color : transparent; 
}
A.pn-logo:hover	{ 
color: #EEEEFF;
FONT-SIZE: 16px; 
FONT-WEIGHT: bold;
background-color: #7777AA; 
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
}
A.pn-logo:active { 
color: #333344;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
background-color : transparent; 
}
.pn-logo-small  {
color: #333344;
FONT-SIZE: 11px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, sans-serif; 
TEXT-DECORATION: none;
background-color : transparent;
}
.pn-pagetitle { 
font-family: Tahoma, Verdana, sans-serif; 
font-size: 16px; 
font-weight: bold; 
color: #7777AA;
text-decoration: none;
background-color : transparent; 
}