body {
                scrollbar-face-color: #D3DCE9; scrollbar-highlight-color: #EAF0F7;
                scrollbar-shadow-color: #95AFC4; scrollbar-3dlight-color: #D6DDE2;
                scrollbar-arrow-color: #5271C2; scrollbar-track-color: #F7F9FB;
                scrollbar-darkshadow-color: #E7EBF7;
}

font    { font-family: Verdana, Arial, Helvetica, sans-serif;  color : #333333;  FONT-SIZE: 10px;     }

TD                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: Black; FONT-SIZE: 11px;}
P                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px;}
DIV                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px;}
INPUT                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5C6976;  FONT-SIZE: 10px;  background: White;          }
TEXTAREA             {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px;}
FORM                      {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 10px;   top: 0px;  background: transparent;  border: none;    margin-bottom: -14px;  padding-top: 0px;  table-layout: fixed;  padding-bottom: 0px;  margin: auto;                    }
SELECT                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px;}

.note            
{
FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; 
COLOR: #307EAF; 
FONT-SIZE: 10px; 
LETTER-SPACING: 2px;
FONT-WEIGHT: normal; 
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.title                      
{
FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; 
COLOR: Black; 
FONT-SIZE: 9px; 
FONT-WEIGHT: bold; 
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.boxtitle              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: Black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-variant : normal; BACKGROUND: none;}
.option              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;}
.storycat             {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: Black; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: underline; BACKGROUND: none;}

.tiny                     
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #333333; 
FONT-SIZE: 9px; 
FONT-WEIGHT: normal; 
LETTER-SPACING: 1px;
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.tiny A:link                    
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #333333; 
FONT-SIZE: 9px; 
FONT-WEIGHT: normal; 
LETTER-SPACING: 1px;
TEXT-DECORATION: underline; 
BACKGROUND: none;
}

.tiny A:active                    
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #333333; 
FONT-SIZE: 9px; 
FONT-WEIGHT: normal; 
LETTER-SPACING: 1px;
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.tiny A:visited                    
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #333333; 
FONT-SIZE: 9px; 
FONT-WEIGHT: normal; 
LETTER-SPACING: 1px;
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.tiny  A:hover                   
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #4682B4; 
FONT-SIZE: 9px; 
FONT-WEIGHT: normal; 
LETTER-SPACING: 1px;
TEXT-DECORATION: none; 
BACKGROUND: none;
}

.slogan                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #276389; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;  font : small-caps; }
.content              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: Black; FONT-SIZE: 11px; BACKGROUND: none;}
.boxcontent              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: Black; FONT-SIZE: 11px; BACKGROUND: none;}

A:link
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333;
FONT-SIZE: 11px;
TEXT-DECORATION: underline;
BACKGROUND: none;
font-variant : normal;
font-weight : bold;
}

A:active
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333;
FONT-SIZE: 11px;
TEXT-DECORATION: underline;
BACKGROUND: none;  font-variant : normal; font-weight : bold;
}

A:visited
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333;
FONT-SIZE: 11px;
TEXT-DECORATION: underline;
BACKGROUND: none;
font-variant: normal;
font-weight: bold;
}

A:hover
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #1E90FF;
FONT-SIZE: 11px;
TEXT-DECORATION: underline;
BACKGROUND: none;
font-variant : normal;
font-weight : bold;
}

.leftcontent
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #4A5568;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.leftcontent  A:link
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #4A5568;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.leftcontent  A:active
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #4A5568;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.leftcontent  A:visited
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #4A5568; FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.leftcontent  A:hover
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: Black;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.rightcontent
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #F0F8FF;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.rightcontent  A:link
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #F0F8FF;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.rightcontent  A:active
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #F0F8FF;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.rightcontent  A:visited
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #F0F8FF; 
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.rightcontent  A:hover
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: White;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.storycontent
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; 
COLOR: #333333;
FONT-SIZE: 10px; 
FONT-WEIGHT: normal;
LETTER-SPACING: 1px;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.storycontent  A:link
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333;
FONT-SIZE: 10px;
FONT-WEIGHT: bold;
LETTER-SPACING: 1px;
TEXT-DECORATION: underline;
BACKGROUND: none;
}

.storycontent  A:active
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333;
FONT-SIZE: 10px;
FONT-WEIGHT: bold;
LETTER-SPACING: 1px;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.storycontent  A:visited
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #333333; 
FONT-SIZE: 10px;
FONT-WEIGHT: bold;
LETTER-SPACING: 1px;
TEXT-DECORATION: none;
BACKGROUND: none;
}

.storycontent  A:hover
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #4682B4; 
FONT-SIZE: 10px;
FONT-WEIGHT: bold;
LETTER-SPACING: 1px;
TEXT-DECORATION: underline;
BACKGROUND: none;
}

.comments
{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
COLOR: #307EAF;
FONT-SIZE: 10px; 
FONT-WEIGHT: normal;
LETTER-SPACING: 3px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : italic;
}

.comments  A:link
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #307EAF;
FONT-SIZE: 10px;
FONT-WEIGHT: normal;
LETTER-SPACING: 3px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : italic;
}

.comments  A:active
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #307EAF;
FONT-SIZE: 10px;
FONT-WEIGHT: normal;
LETTER-SPACING: 3px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : italic;
}

.comments  A:visited
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: #307EAF; 
FONT-SIZE: 10px;
FONT-WEIGHT: normal;
LETTER-SPACING: 3px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : italic;
}

.comments  A:hover
{
FONT-FAMILY: Arial, Helvetica, sans-serif;
COLOR: Black; FONT-SIZE: 10px;
FONT-WEIGHT: normal;
TEXT-DECORATION: underline;
BACKGROUND: none;
FONT : italic;
}

.storytitle
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; 
COLOR: #284F71;
FONT-SIZE: 9px; 
FONT-WEIGHT: bold;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : small-caps;
}

.storytitle  A:link
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif;
COLOR: #284F71;
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : small-caps;
}

.storytitle  A:active
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif;
COLOR: #284F71;
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : small-caps;
}

.storytitle  A:visited
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif;
COLOR: #284F71; 
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : small-caps;
}

.storytitle  A:hover
{
FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif;
COLOR: #6495ED; 
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
LETTER-SPACING: 2px;
TEXT-DECORATION: none;
BACKGROUND: none;
FONT : small-caps;
}
