BODY { font: 10px geneva, verdana, arial, sans-serif; color: #006699; }
TD, TH, .BOD { font: 10px geneva, verdana, arial, sans-serif; color: #006699; }
A:link, A:visited, A:active { font: 10px geneva, verdana, arial, sans-serif; color: #006699; text-decoration: none; }
A:hover { font: 10px geneva, verdana, arial, sans-serif; color: #FF6900; text-decoration: underline; }
select, input, textarea { font: 10px geneva, verdana, arial, sans-serif; color: #3D3D3D; }
A.small:link, A.small:visited, A.small:active { font: 9px geneva, verdana, arial, sans-serif; color: #972400; text-decoration: none; }
A.small:hover { font: 9px geneva, verdana, arial, sans-serif; color: #4F0000; text-decoration: underline; }
A.newsarc:link, A.newsarc:visited, A.newsarc:active { font: 10px geneva, verdana, arial, sans-serif; color: #4E4E4E; text-decoration: underline; }
A.newsarc:hover { font: 10px geneva, verdana, arial, sans-serif; color: #262626; text-decoration: underline; }
.orange {BACKGROUND: none; COLOR: #FF6900; FONT-SIZE: 10px; FONT-FAMILY: geneva, verdana, arial, sans-serif}
.option {BACKGROUND: none; COLOR: #FF6900; FONT-SIZE: 10px; FONT-FAMILY: geneva, verdana, arial, sans-serif}
FONT {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: geneva, verdana, arial, sans-serif}
.titel {BACKGROUND: none; COLOR: #006699; FONT-SIZE: 10px; FONT-FAMILY: geneva, verdana, arial, sans-serif}