FONT		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
TD		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
BODY		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
P		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
DIV		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
INPUT		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
TEXTAREA	{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
FORM 		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
SELECT		{FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; FONT-SIZE: 11px}
A:link          {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #D6A531; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: underline}
.title 		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Tahoma,Verdana,Helvetica,Geneva,Arial; TEXT-DECORATION: none}
a.topnav:link {color: #000000; font-size: 11px; TEXT-DECORATION: none}
a.topnav:active {color: #000000; font-size: 11px; TEXT-DECORATION: none}
a.topnav:visited {color: #000000; font-size: 11px; TEXT-DECORATION: none}
a.topnav:hover {color: #E7C67B; font-size: 11px; TEXT-DECORATION: none}

.navbox {
     border-top: 1px #D6A531 solid; 
     border-left: 1px #D6A531 solid; 
     border-right: 1px #D6A531 solid; 
     border-bottom: 1px #D6A531 solid;
     font-family: Tahoma,Verdana,Helvetica,Geneva,Arial; 
     font-size: 8pt; 
     font-weight: bold;}