body {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size : 11px;
color : #000000; 
background-color : #ffffff; 
margin-top : 0; 
margin-right : 0; 
margin-bottom : 0; 
margin-left : 0; 
padding-top : 0; 
padding-right : 0; 
padding-bottom : 0; 
padding-left : 0; 
} 
FONT , TD , P , DIV , INPUT , TEXTAREA , FORM {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
} 
a:link {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #a52a2a; 
text-decoration : none;
background : transparent;
} 
a:active {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #a52a2a; 
text-decoration : none;
background : transparent;
} 
a:hover {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #a52a2a; 
text-decoration : none;
background : transparent;
} 
a:visited {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #a52a2a; 
text-decoration : none;
background : transparent;
} 
.headertop {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
font-style : normal; 
color : #333366; 
background-color : #ffffff; 
} 
.headerline {
height : 2px; 
width : 100%; 
background : #6f6f6f;
background-color : #6f6f6f; 
} 
.date {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
font-weight : normal; 
color : #000000; 
background : transparent;
} 
.headertabledate {
height : 68px; 
width : 100%; 
} 
.headerform {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-style : normal; 
font-weight : normal; 
color : #000000; 
vertical-align : middle; 
background : transparent;
} 
.tiretvertical {
background-repeat : repeat-y; 
background-position : 50% 0%;
 background : #6F6F6F;
 background-color : #6F6F6F;
} 
.whitevertical {
background-color : #ffffff; 
background-repeat : repeat-y; 
background-position : 50% 0%; 
background : #ffffff;
color : #ffffff;
} 
.boxback1 {
background-color : #dddddd; 
background : #dddddd;
} 
.newsline {
background-image : url(/themes/fmII/images/line-news.gif); 
background-repeat : repeat-x; 
background-position : 0% 50%; 
height : 10px; 
width : 100%; 
} 
.newstitle {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 14px; 
font-weight : bolder; 
color : #663333; 
text-decoration : underline; 
text-align : left; 
vertical-align : middle; 

} 
.tiretright {
background-image : url(themes/fmII/images/blackdot.gif); 
background-repeat : repeat-y; 
background-position : 100% 0%; 
} 
.newstexte {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-style : normal; 
font-weight : normal; 
} 
.newstex2 {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-style : italic; 
font-weight : normal; 
} 
.menu {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-style : normal; 
font-weight : bold; 
color : #ffffff; 
text-decoration : none; 
background : transparent;
} 
.copyright {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
font-style : normal; 
font-weight : normal; 
text-decoration : none; 
} 
.boxtitle {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-weight : bolder; 
text-decoration : underline overline; 
font-size : 12px; 

} 
.boxtexte {
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-style : normal; 
font-weight : normal; 
text-decoration : none; 

} 
.blackright {
background-image : url(themes/fmII/images/blackdot.gif); 
background-repeat : repeat-x; 
} 