/* Theme Classes */
FONT, TD, BODY, P, DIV { font-family: Arial, sans-serif; font-size: 12px }
INPUT, SELECT, TEXTAREA, FORM { font-family: Arial, sans-serif; font-size: 11px }
a { font-family: Arial, sans-serif; color: #696969; text-decoration: none }
a:active { font-family: Arial, sans-serif; color: #696969; text-decoration: none }
a:visited { font-family: Arial, sans-serif; color: #696969; text-decoration: none }
a:hover { font-family: Arial, sans-serif; color: #FFFFFF; text-decoration: none }
a.header { font-family: Arial, sans-serif; color: #FFFFFF; text-decoration: none }
a.header:active { font-family: Arial, sans-serif; color: #FFFFFF; text-decoration: none }
a.header:visited { font-family: Arial, sans-serif; color: #FFFFFF; text-decoration: none }
a.header:hover { font-family: Arial, sans-serif; color: #DCDCDC; text-decoration: none }

/* PHP-Nuke Classes */
.title { font-family: Arial, sans-serif; background: none; color: #000000; font-size: 16px; font-weight: bold; text-decoration: none }
.storytitle { font-family: Arial, sans-serif; background-color: #DCDCDC; color: #696969; font-size: 13px; font-weight: bold; }
.content { font-family: Arial, sans-serif; background-color: transparent; color: #000000; font-size: 12px; }
.storycat { font-family: Arial, sans-serif; background: none; color: #000000; font-size: 13px; font-weight: bold; text-decoration: none }
.boxtitle { font-family: Arial, sans-serif; background-color: #696969; color: #FFFFFF; font-size: 12px; font-weight: bold; }
.boxcontent { font-family: Arial, sans-serif; background-color: #DCDCDC; color: #696969; font-size: 11px; }
.blockitem { font-family: Arial, sans-serif; background-color: #DCDCDC; color: #696969; font-size: 12px; }
.option { font-family: Arial, sans-serif; background: none; color: #000000; font-size: 14px; font-weight: bold; text-decoration: none }
.tiny { font-family: Arial, sans-serif; background: none; color: #000000; font-size: 10px; font-weight: normal; text-decoration: none }

