FONT, TD, BODY, P, DIV, INPUT, TEXTAREA, FORM 
{font-family: Verdana,Arial; 
font: normal 11px;}

body {
  font-family: Verdana, Arial;
  font-size: 11px;
  color: #000000;
  scrollbar-face-color: #0B5882;
  scrollbar-shadow-color: #0B5882;
  scrollbar-highlight-color: #FF9933;
  scrollbar-3dlight-color: #0B5882;
  scrollbar-darkshadow-color: #0B5882;
  scrollbar-track-color: #0A4F74;
  scrollbar-arrow-color: #FF9933;
  }


A:active { text-decoration : none; font-size : 11px; font-family: Verdana; color : #FF9933; }
A:link { text-decoration : none; font-size : 11px; font-family: Verdana; color : #FF9933;  }
A:visited { text-decoration : none; font-size : 11px; font-family: Verdana; color : #FF9933;  }
A:hover { text-decoration : underline overline; font-size : 11px; font-family: Verdana; color : #FF9933; }