.CENTE-top-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 14pt;  
color : #FF8E00;  
}
.CENTE-xtop-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 10pt;  
color : #FFFFFF;  
}
.CENTE-tab-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 10pt;  
color : #FFFFFF;  
}

