.RIGHT-top-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 14pt;  
color : #00288C;  
}
.RIGHT-xtop-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 10pt;  
color : #FFFFFF;  
}
.RIGHT-tab-blocktitle {
font-family :  Verdana, Arial, sans-serif ;	
font-size : 10pt;  
color : #FFFFFF;  
}

