.m0l0i {
	font-family: Verdana,Helvetica;
	font-size: 11px;
	text-decoration : none;
	padding: 3px;
font-weight : bold;
}
.m0l0o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}
.m0l1i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m0l1o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}
.m0l2i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m0l2o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}


.m1l0i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m1l0o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}
.m1l1i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m1l1o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}
.m1l2i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m1l2o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}


.m2l0i {
	font-family: Verdana,Helvetica;
	font-size: 10px;
	text-decoration : none;
	padding: 4px;
}
.m2l0o {
	text-decoration : none;
	border : 1px solid #427D84;
border-collapse: collapse;
}
A:link {
	FONT-SIZE: 11px; COLOR: #a0d0e8; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #a0d0e8; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 11px; COLOR: #a0d0e8; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none 
}
BODY {
	FONT-SIZE: 11px; BACKGROUND-ATTACHMENT: fixed; CURSOR: default; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #406878 1px solid; BORDER-TOP: #406878 1px solid; SCROLLBAR-FACE-COLOR: #406878; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #000000; BORDER-LEFT: #406878 1px solid; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #000000; BORDER-BOTTOM: #406878 1px solid; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #406878 1px solid; BORDER-TOP: #406878 1px solid; SCROLLBAR-FACE-COLOR: #406878; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #000000; BORDER-LEFT: #406878 1px solid; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #000000; BORDER-BOTTOM: #406878 1px solid; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
SELECT {
	BORDER-RIGHT: #406878 1px solid; BORDER-TOP: #406878 1px solid; SCROLLBAR-FACE-COLOR: #406878; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #000000; BORDER-LEFT: #406878 1px solid; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #000000; BORDER-BOTTOM: #406878 1px solid; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #000000; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 11px; FILTER: alpha(opacity="150"); COLOR: #ffffff; LINE-HEIGHT: 1.4; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; TEXT-DECORATION: none
}
TD.header {
	BORDER-RIGHT: #406878 0px solid; BORDER-TOP: #406878 1px solid; FILTER: alpha(opacity="200"); BORDER-LEFT: #406878 0px solid; BORDER-BOTTOM: #427D84 1px solid;
}
TD.content {
	BORDER-RIGHT: #427D84 1px solid; BORDER-TOP: #427D84 1px solid; FILTER: alpha(opacity="80"); BORDER-LEFT: #427D84 1px solid; BORDER-BOTTOM: #427D84 1px solid; 
}
TD.border {
	BORDER-RIGHT: #406878 0px solid; BORDER-TOP: #406878 0px solid; FILTER: alpha(opacity="100"); BORDER-LEFT: #406878 0px solid; BORDER-BOTTOM: 0px; 
}
TD.footer {
	BORDER-RIGHT: #406878 0px solid; BORDER-TOP: #406878 1px solid; FILTER: alpha(opacity="100"); BORDER-LEFT: #406878 0px solid; BORDER-BOTTOM: #406878 1px solid; 
}
TD.right{
	BORDER-RIGHT: #406878 0px solid; BORDER-TOP: #406878 1px solid; BORDER-LEFT: #406878 1px solid; BORDER-BOTTOM: #406878 0px solid; BACKGROUND-COLOR: #000000
}
TD.left {
	BORDER-RIGHT: #406878 1px solid; BORDER-TOP: #406878 1px solid; BORDER-LEFT: #406878 0px solid; BORDER-BOTTOM: #406878 0px solid; BACKGROUND-COLOR: #000000
}
FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; LETTER-SPACING: 2px; TEXT-DECORATION: none
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY:  arial, helvetica, verdana, sans-serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.title
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
.storytitle 	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxtitle 	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.boxcontent 	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
.option 	
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tiny		
{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
FONT		
{font-family: Verdana,Helvetica;font-size:10;color:#FFFFFF}
TD		
{font-family: Verdana,Helvetica;font-size:10;color:#FFFFFF}
P		
{font-family: Verdana,Helvetica;font-size:10;color:#FFFFFF}