body                 {scrollbar-face-color: #E2E4E5; scrollbar-track-color: #E2E4E5; scrollbar-arrow-color: #ffffff; scrollbar-shadow-color: #000000; scrollbar-3dlight-color: #ffffff; scrollbar-darkshadow-color: Black;buttonface: #E06F00;}

FONT                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
TD                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
BODY                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
P                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
DIV                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
INPUT                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; BACKGROUND-COLOR: #C8C2A5;}
TEXTAREA             {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; BACKGROUND-COLOR: #C8C2A5;}
FORM                      {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px;}
SELECT                     {FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; BACKGROUND-COLOR: #E2E4E5;}

A:link               {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: underline; BACKGROUND: none;}
A:active             {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: underline; BACKGROUND: none;}
A:visited            {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: underline; BACKGROUND: none;}
A:hover              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: underline; BACKGROUND: none;}

.title                      {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;}
.storytitle              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;}
.boxtitle              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;}
.option              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; BACKGROUND: none;}
.storycat             {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: underline; BACKGROUND: none;}
.tiny                     {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; BACKGROUND: none;}

.content              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; BACKGROUND: none;}
.boxcontent              {FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; BACKGROUND: none;}