FONT		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
TD		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
BODY		{FONT-FAMILY: Arial; FONT-SIZE: 12px; COLOR: #8A8B6F}
P		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
DIV		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
INPUT		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
TEXTAREA	{FONT-FAMILY: Arial; FONT-SIZE: 12px}
FORM 		{FONT-FAMILY: Arial; FONT-SIZE: 12px}
A:link          {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Arial;FONT-WEIGHT: bold}
A:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Arial;FONT-WEIGHT: bold}
A:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Arial;FONT-WEIGHT: bold}
A:hover         {BACKGROUND: none; COLOR: #800000; FONT-SIZE: 12px; FONT-FAMILY: Arial;FONT-WEIGHT: bold}
.title 		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: bold; FONT-FAMILY: Arial; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Arial}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Arial; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Arial; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Arial; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Arial}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Arial; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none}